<header class="d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="col-3 logo-wrapper">
                    <a href="/plp" >
                        <img src="https://www.t-mobile.com/etc/clientlibs/t-mobile/publish/app/clientlibs_app/assets/images/marketing/logo-white.svg"
                            class="payment-logo d-none d-sm-none d-md-block" alt="">
                        <img src="https://www.t-mobile.com/etc/clientlibs/t-mobile/publish/app/clientlibs_app/assets/images/marketing/logo-white.svg"
                            class="payment-logo d-block d-md-none" alt="">
                    </a>
                </div>

            </div>

        </div>
    </div>
</header> 